#picture{
	width:280px;
	height:280px;
	border:2px solid black;
	box-shadow: 1px 5px 4px 4px;
	margin-bottom: 10px;
     margin-left: 25%;
     margin-top: 80px;
}
#picture img{
	height:250px;
	width:250px;
	margin: 15px;

}
.container{
	width: 80%;
	height: auto;
	margin-left: 10%;
}
.panel{
	width: 60%;
	height: auto;
	margin-left: 20%;
}